/* Nav grid */
.nav-flexbox {
    display: flex;
    justify-content: space-between;    
}

/* Map */
.map-box {
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 15px;
    height: calc(100vh - 70px);
}

#map {
    height: inherit;
    position: relative;
}

.gmnoprint {
    display: none;
}
.gm-style-cc {
    display: none;
}
/* Navbar */
/*html, body {
  height: 100%;
}*/

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
}

body {
    margin: 0;
    background-color: #292929;
    overflow: hidden;
}

.nav-flexbox nav {
    left: 5vw;
    width: 319px;
    display: table;
    transform: translateY(20%);
}

.nav-flexbox nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

.nav-flexbox nav a:before,
.nav-flexbox nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

.nav-flexbox nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

.nav-flexbox nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

.nav-flexbox nav a:nth-child(1):before {
    background-color: yellow;
}

.nav-flexbox nav a:nth-child(1):after {
    background-color: red;
}

.nav-flexbox nav a:nth-child(2):before {
    background-color: #00e2ff;
}

.nav-flexbox nav a:nth-child(2):after {
    background-color: #89ff00;
}

.nav-flexbox nav a:nth-child(3):before {
    background-color: purple;
}

.nav-flexbox nav a:nth-child(3):after {
    background-color: palevioletred;
}

#indicator {
    position: absolute;
    left: 5%;
    top: 38px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

.nav-flexbox nav a:hover {
    color: #fff;
}

/* Button toggle */
/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */

*
{
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}

*:focus
{
    outline: none;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: 13px 13px auto auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #292929;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    
    /* Fontawesome */
    font-family: "Font Awesome 5 Free";
    content: "\f185";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

#button-1 .checkbox:checked + .knobs:before
{
    left: 42px;
    background-color: #292929;

    /* Fontawesome */
    font-family: "Font Awesome 5 Free";
    content: "\f186";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #ffffff;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}
